// Custom styles.


body {
    background:url(/uploads/site_back.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:100%;
}

.content-wrap{
	background: rgba(255, 255, 255, 0.5);
}

.header-inner{
	background: rgba(255, 255, 255, 0.5);
}

.sidebar {
	background: rgba(255, 255, 255, 0.5);
}

.sidebar-inner {
	background: rgba(255, 255, 255, 0);
}