// Custom styles.


body {
    background:url(/uploads/site_back.jpg);
    //background-repeat: no-repeat;
    //background-attachment:fixed;
    //background-size:100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #292727;
}

.content-wrap{
	background: rgba(255, 255, 255, 0.79);
}

.header-inner{
	background: rgba(255, 255, 255, 0.6);
}

.sidebar {
	background: rgba(255, 255, 255, 0.6);
}

blockquote{
    color: #151313;
    border-left: 4px solid #c5c2c2;
}